#judul {
  text-align: center;
}
.subjudul1 {
  background-color: #36baeb;
}

.subjudul2 {
  background-color: #36baeb;
}
.talent {
  background-color: #c7e5f0;
}

.film {
  background-color: #c7e5f0;
}
